@use '@angular/material' as mat;

@use './styles/components/card.scss' as card;

html {
  height: 100%;
  @include mat.theme(
    (
      color: mat.$spring-green-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

.vhvw-center {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mat-sys-surface);
}
