.card {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    align-items: start;
    justify-content: start;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--mat-sys-on-surface);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &__subtitle {
    font-weight: 400 !important;
    font-size: 0.875rem;
    color: var(--mat-sys-on-surface-variant);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  &__form-field {
    width: 100%;
    box-sizing: border-box;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: var(--mat-sys-primary);
    cursor: pointer;
  }
}
