<main>
  <mat-card appearance="outlined" class="card">
    <mat-card-header class="card__header">
      <mat-card-title class="card__title">Login</mat-card-title>
      <mat-card-subtitle class="card__subtitle">Enter your details to login</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="card__content">
      <form [formGroup]="loginForm" (submit)="onSubmit()" class="card__form">
        <mat-form-field appearance="outline" class="card__form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          @if (loginForm.get('email')?.hasError('required')) {
          <mat-error> Email is required </mat-error>
          } @if (loginForm.get('email')?.hasError('email')) {
          <mat-error> Please enter a valid email address </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="card__form-field">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
          <button mat-icon-button matSuffix (click)="hide.set(!hide())">
            <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (loginForm.get('password')?.hasError('required')) {
          <mat-error> Password is required </mat-error>
          } @if (loginForm.get('password')?.hasError('minlength')) {
          <mat-error> Password must be at least 8 characters long </mat-error>
          }
        </mat-form-field>
        <button mat-stroked-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>

    <mat-card-footer class="card__footer">
      <p>Don't have an account? <a routerLink="/register">Register</a></p>
    </mat-card-footer>
  </mat-card>
</main>
