main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mat-sys-surface);
}

.login-card {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    overflow: hidden;

    &__subtitle {
        font-weight: 400;
        font-size: 0.875rem;
        color: var(--mat-sys-on-surface-variant);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    &__form-field {
        width: 100%;
        box-sizing: border-box;
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        padding: 0;

        a {
            text-decoration: none;
            color: var(--mat-sys-primary);
            cursor: pointer;
        }
    }

}