<main class="vhvw-center">
  <mat-card appearance="outlined" class="card">
    <mat-card-header class="card__header">
      <mat-card-title class="card__title">Reset Password</mat-card-title>
      <mat-card-subtitle class="card__subtitle">Enter your new password</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card__content">
      <form [formGroup]="resetPasswordForm" (submit)="onSubmit()" class="card__form">
        <mat-form-field appearance="outline" class="card__form-field">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="newPassword" />
          @if (resetPasswordForm.get('newPassword')?.hasError('required')) {
          <mat-error> New password is required </mat-error>
          } @if (resetPasswordForm.get('newPassword')?.hasError('minlength')) {
          <mat-error> New password must be at least 8 characters long </mat-error>
          }
        </mat-form-field>
        <button mat-stroked-button color="primary" type="submit">Reset Password</button>
      </form>
    </mat-card-content>
  </mat-card>
</main>
