<main>
  <mat-card appearance="outlined" class="card">
    <mat-card-header class="card__header">
      <mat-card-title class="card__title"> Forgot Password </mat-card-title>
      <mat-card-subtitle class="card__subtitle"
        >Enter your email to reset your password</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content class="card__content">
      <form class="card__form" [formGroup]="forgotPasswordForm" (submit)="onSubmit()">
        <mat-form-field appearance="outline" class="card__form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          @if (forgotPasswordForm.get('email')?.hasError('required')) {
          <mat-error> Email is required </mat-error>
          } @if (forgotPasswordForm.get('email')?.hasError('email')) {
          <mat-error> Please enter a valid email address </mat-error>
          }
        </mat-form-field>
        <button mat-stroked-button color="primary" type="submit">Reset Password</button>
      </form>
    </mat-card-content>
    <mat-card-footer class="card__footer">
      <p>Remember your password? <a routerLink="/login">Login</a></p>
    </mat-card-footer>
  </mat-card>
</main>
